@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Recipease</h1>
    <p>Your new way to decide what to cook. Go to 'Home' to see and add recipes, or 'Rating' to quickly rank your choices</p>
    <p>(Obviously this is quite basic at the moment but is a proof of concept working a database so have the basics of Create, Read, Update and Delete, everything else is essentially a variation of this)</p>
</div>
